<%#*<div class="block ">%>
<%#*<a href="#widget1container" class="block-heading" data-toggle="collapse">Collapsible </a>%>
<%#*<div id="widget1container" class="block-body collapse in">%>
<%#*<p>%>
<%#*<div class="field">%>
<%#= f.label :weapon_id %><br />
<%#= f.collection_select(:weapon_id, Weapon.all, :id, :fulldescription, {:prompt => "seleccione arma"}) %>
<%#*</div>%>
<%#= builder.link_to_remove "Remove this task" %>
<%#*</p>%>
<%#*</div>%>
<%#*</div>%>


<%#*<script>%>
<%#*$(document).ready(function() {%>
<%#*$("#weapon_criminal_weapon_attributes_0_weapon_id").click(function() {%>
<%#*$("#show-weapon-details").fadeIn("slow");%>
<%#*});%>
<%#*});%>

<%#*var weapon_id;%>
<%#*var div_id;%>
<%#*function load_weapon_details(id) {%>
<%#*div_id = divid;%>
<%#*$.getJSON("http://localhost:3000/weapons/" + weapon_id + ".json", function(weapon) {%>
<%#*$(".show-weapon-details").fadeIn("slow");%>
<%#*$('label#label-details1').attr('id', "label1_" + div_id);%>
<%#*$("#label1_" + div_id).html(weapon.fulldescription);%>
<%#*person_id = weapon.person_id;%>
<%#*})%>
<%#*}%>
<%#*</script>%>
<%#*<style>%>
<%#*.box%>
<%#*{%>
<%#*margin: 0 0 20px;%> 
<%#*padding: 20px 0 0;%> 

<%#*border: 1px solid #d8d8d8;%> 
<%#*background: #f9f9f9;%>

<%#*-moz-border-radius: 4px;%> 
<%#*-webkit-border-radius: 4px;%> 
<%#*border-radius: 4px;%> 
<%#*-moz-box-shadow: inset 0 0 0 1px #fff;%>
<%#*-webkit-box-shadow: inset 0 0 0 1px #fff;%>
<%#*box-shadow: inset 0 0 0 1px #fff;%> 
<%#*}%>
<%#*</style>%>

<div class="show-order-details order-details-box" id="details-box" hidden ="true">
  <label class="order-details" id="label-details1">There are not available details for this weapon.</label>
  <label class="order-details" id="label-details2"></label>
</div>

<div class="control-group">
  <div class="field">
    <%= f.label :weapon_id, "Weapon" %><br />
    <%= f.collection_select(:weapon_id, Weapon.all, :id, :fulldescription, {:prompt => "seleccione arma"}) %>
    <%=f.link_to_remove "remove weapon",:class => 'btn btn-primary'%>
  </div>
  <br />
</div>