<div class="block">
  <a href="#victims" class="block-heading" data-toggle="collapse">Eventos relevantes</a>
  <div id="victims" class="block-body collapse">
    <div class="control-group">

      <% @events.each do |event| %>
      <%#= @vents.priority_id %>
      <%end%>
    </div>
  </div>
</div>